			<table>
				<thead>
					<tr>
						<th>CITY</th>
						<th>AIRLINE</th>
						<th class='textRight'>FLIGHT</th>
						<th class='textCenter'>TIME</th>
						<th class='textCenter' >GATE</th>
						<th class='textCenter' >STATUS</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(key, flight) in flights | orderBy:'city'">
						<td class=''>{{flight.arrivalAirportFsCode}}</td>
						<td class=''><img ng-src="img/airlines/{{flight.carrierFsCode | lowercase}}.png" alt="" class="airline-logo"></td>
						<td class='textRight'>{{flight.flightNumber}}</td>
						<td class='textCenter'>{{flight.departureDate.dateLocal |date: 'shortTime'}}</td>
						<td class='textCenter'>{{flight.airportResources.departureGate}}</td>
						<td class='textCenter status' ng-class="{'delayed': flight.delay}">{{flight.status}}</td>
					</tr>
				</tbody>
			</table>
