			<table>
				<thead>
					<tr>
						<th>CITY</th>
						<th>AIRLINE</th>
						<th class='textRight'>FLIGHT</th>
						<th class='textCenter'>TIME</th>
						<th class='textCenter' >GATE</th>
						<th class='textCenter' >STATUS</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(key, flight) in flights | orderBy:'city'">
						<td class=''>{{flight.departureAirportFsCode}}</td>
						<td class=''><img ng-src="img/airlines/{{flight.airline | lowercase}}.png" alt="" class="airline-logo">{{flight.carrierFsCode}}</td>
						<td class='textRight'>{{flight.flightNumber}}</td>
						<td class='textCenter'>{{flight.operationalTimes.estimatedRunwayArrival.dateLocal}}</td>
						<td class='textCenter'>{{flight.airportResources.arrivalGate}}</td>
						<td class='textCenter status' ng-class="{'delayed': flight.delay}">{{flight.status}}</td>
					</tr>
				</tbody>
			</table>
